In [1]:
!nvidia-smi

Wed Jul 12 06:05:55 2023
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 530.47                 Driver Version: 531.68       CUDA Version: 12.1     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                  Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf            Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  NVIDIA GeForce RTX 3080 L...    On | 00000000:01:00.0 Off |                  N/A |
| N/A   59C    P8               10W /  N/A|     13MiB /  8192MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
|    0   N/A  N/A       527      G   /Xwayland                                 N/A      |
+---------------------------------------------------------------------------------------+

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/KnightChaser/ML-challenge/main/EX_challenging_problems/06_stock_price_expectation/samsung_electronics.csv")

In [6]:
df

     Unnamed: 0      Date    Volume   Open   High    Low  Close
0             0  20210601  14058401  80500  81300  80100  80600
1             1  20210602  16414644  80400  81400  80300  80800
2             2  20210603  29546007  81300  83000  81100  82800
3             3  20210604  18112259  82700  82700  81500  82200
4             4  20210607  16496197  82700  82800  81600  81900
..          ...       ...       ...    ...    ...    ...    ...
489         489  20230523   8561643  68500  68700  68100  68400
490         490  20230524   8192896  68100  68700  68000  68500
491         491  20230525  14231160  69900  70000  68700  68800
492         492  20230526  19549511  69800  70400  69500  70300
493         493  20230530  27476897  71300  72300  71200  72300

[494 rows x 7 columns]